<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>Code slide</title>
    <link rel="stylesheet" href="/templates/common.css">
    <style type="text/css">
        section.code { width: 49%; }
        section[data-id='1'] { float: left; }
        section[data-id='2'] { float: right; }
    </style>
</head>
<body class="dark-theme" ontouchend="location.reload()">
    <h1><strong>let</strong> keyword</h1>

    <section class="code" data-id="1">
<div class="highlight"><pre><span class="lineno">1</span> <span class="kd">function</span> <span class="nx">useVar</span><span class="p">()</span> <span class="p">{</span>
<span class="lineno">2</span>     <span class="k">if</span> <span class="p">(</span><span class="kc">false</span><span class="p">)</span> <span class="p">{</span>
<span class="lineno">3</span>         <span class="kd">var</span> <span class="nx">x</span> <span class="o">=</span> <span class="mi">5</span><span class="p">;</span>
<span class="lineno">4</span>     <span class="p">}</span>
<span class="lineno">5</span> 
<span class="lineno">6</span>     <span class="k">return</span> <span class="nx">x</span><span class="p">;</span>
<span class="lineno">7</span> <span class="p">}</span>
<span class="lineno">8</span> 
<span class="lineno">9</span> <span class="nx">useVar</span><span class="p">();</span> <span class="c1">// undefined</span>
</pre></div>
    </section>

    <section class="code" data-id="2">
<div class="highlight"><pre><span class="lineno"> 1</span> <span class="kd">function</span> <span class="nx">useLet</span><span class="p">()</span> <span class="p">{</span>
<span class="lineno"> 2</span>     <span class="k">if</span> <span class="p">(</span><span class="kc">true</span><span class="p">)</span> <span class="p">{</span>
<span class="lineno"> 3</span>         <span class="kd">let</span> <span class="nx">x</span> <span class="o">=</span> <span class="mi">5</span><span class="p">;</span>
<span class="lineno"> 4</span>     <span class="p">}</span>
<span class="lineno"> 5</span> 
<span class="lineno"> 6</span>     <span class="k">return</span> <span class="nx">x</span><span class="p">;</span> <span class="cm">/*!*/</span>
<span class="lineno"> 7</span> <span class="p">}</span>
<span class="lineno"> 8</span> 
<span class="lineno"> 9</span> <span class="nx">useLet</span><span class="p">();</span>
<span class="lineno">10</span> <span class="c1">// ReferenceError:</span>
<span class="lineno">11</span> <span class="c1">// x is not defined</span>
</pre></div>
    </section>

    <div style="clear: both;"></div>

    <ul>
        <li>similar to <strong>var</strong></li>
        <li>scoped to the nearest enclosing block</li>
    </ul>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
