<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>Code slide</title>
    <link rel="stylesheet" href="common.css">
    <style type="text/css">
    </style>
</head>
<body class="dark-theme" ontouchstart="location.reload()">
    <h1><strong>let</strong> keyword</h1>

    <code>
        <p><b>hello</b>, world</p>
        <p>hello, world</p>
        <p>hello, world</p>
    </code>

    <ul>
        <li>really similar to <strong>var</strong>
        <li>scope-aware</li>
    </ul>

    <script>

    </script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
