<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>Code slide</title>
    <link rel="stylesheet" href="common.css">
    <style type="text/css">
    </style>
</head>
<body class="dark-theme" ontouchend="location.pathname = '/templates/code-split.html'">
    <h1><strong>let</strong> keyword</h1>

    <p>Newer, highly syntastical keyword in ES6:</p>

    <section class="code">
<div class="highlight"><pre><span class="lineno">1</span> <span class="kd">function</span> <span class="nx">usingVar</span><span class="p">()</span> <span class="p">{</span>
<span class="lineno">2</span>     <span class="k">if</span> <span class="p">(</span><span class="kc">true</span><span class="p">)</span> <span class="p">{</span>
<span class="lineno">3</span>         <span class="kd">var</span> <span class="nx">x</span> <span class="o">=</span> <span class="mi">5</span><span class="p">;</span>
<span class="lineno">4</span>     <span class="p">}</span>
<span class="lineno">5</span> 
<span class="lineno">6</span>     <span class="k">return</span> <span class="nx">x</span><span class="p">;</span>
<span class="lineno">7</span> <span class="p">}</span>
<span class="lineno">8</span> 
<span class="lineno">9</span> <span class="nx">usingVar</span><span class="p">();</span> <span class="c1">// 5</span>
</pre></div>
    </section>

    <script>

    </script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
